.post-feed {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 16px;

  img {
    border-radius: 4px;
  }

  .post {
    padding: 0 8px 24px;

    .title {
      font-size: 0.8rem;
      margin: 8px 0;
    }

    .text {
      margin-top: 0px;
      font-size: 1rem;
    }
  }

  .previous-post {
    flex-basis: 45%;
    display: flex;
    flex-direction: column;

    .post-img {
      width: 100%;
      max-width: 340px;
      height: 240px;
      object-fit: cover;
    }
  }
}

@media screen and (max-width: 600px) {
  .post-feed {
    .previous-post {
      flex-basis: 100%;

      .post-img {
        max-width: 600px;
      }
    }
  }
}

.footer-bar {
  margin-top: 24px;
  display: flex;
  justify-content: flex-end;

  >* {
    margin-left: 8px;
    font-size: 0.8rem;
  }
}

.social-logo {
  padding: 0 2px;
  width: 24px;
  height: 24px
}

.video-container {
  overflow: hidden;
  position: relative;
  width: 100%;
  margin: 32px 0;

  &::after {
    padding-top: 56.25%;
    display: block;
    content: '';
  }
  
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
